.team-section{
    padding: 67px 0px 61px;
    
    .team-more{
        font-size: 1.4rem;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
    }
    .team-member-name{
        margin-bottom: 1.5rem;
        h2{
            line-height: 2.7rem;
            font-size: 2.2rem;
            
        }
    }
    .team-member-info{
        margin-bottom: 3rem;
    }
    .fa-linkedin-in{
        color: $gray-900;
        font-size: 3rem;
    }
}

@media(min-width:576px){
    .team-member-info{
        margin-bottom: 10rem;
    }
}


